version: 5.7.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - export

definitions:
  streams:
    export:
      type: DeclarativeStream
      name: export
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
        requester:
          $ref: "#/definitions/base_requester"
          path: /export/v4.json
          http_method: POST
          request_body_json:
            config:
              limit: "{{ config['limit'] }}"
              offset: "{{ next_page_token['next_page_token'] | default(0) }}"
            search:
              to_date: "{{ stream_interval['end_time'] }}"
                # {{
                # format_datetime(now_utc().fromtimestamp(timestamp(stream_interval['start_time'])
                # + 86400), '%Y-%m-%d') }}
              # from_date: "{{ format_datetime(stream_interval['start_time'], '%Y-%m-%d') }}"
              from_date: "{{ stream_interval['start_time'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/export"
      transformations:
        - type: AddFields
          fields:
            - path:
                - cursor_path
              value: "{{ record.sessions[0].created }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: cursor_path
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%d"
        # datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%d"
        cursor_granularity: P0D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['host'] }}"
    authenticator:
      type: OAuthAuthenticator
      scopes: []
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      refresh_request_body:
        scope: export:v4
      token_refresh_endpoint: "{{ config['host'] }}/token"

streams:
  - $ref: "#/definitions/streams/export"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - limit
      - start_date
      - host 
    properties:
      host:
        type: string
        title: Hostname
        default: https://subdomain.boost.ai/api
      limit:
        type: string
        order: 2
        title: "Limit "
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      start_date:
        type: string
        order: 3
        title: Start date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    export:
      hasRecords: true
      streamHash: 912f493bc5d977b1a08eb02f46b585f45617303c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  yamlComponents:
    streams:
      export:
        - paginator
        - incrementalSync
  autoImportSchema:
    export: true

schemas:
  export:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - cursor_path
    properties:
      id:
        type: number
      sessions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            created:
              type:
                - string
                - "null"
            feedback:
              type:
                - object
                - "null"
              properties:
                rating:
                  type:
                    - string
                    - "null"
            messages:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  is_asu:
                    type:
                      - boolean
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        url:
                          type:
                            - string
                            - "null"
                        text:
                          type:
                            - string
                            - "null"
                        buttons:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - number
                                  - "null"
                              url:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
                              hidden:
                                type:
                                  - boolean
                                  - "null"
                              attributes:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  goToURL:
                                    type:
                                      - string
                                      - "null"
                                  visibility:
                                    type:
                                      - string
                                      - "null"
                              button_type:
                                type:
                                  - string
                                  - "null"
                  created:
                    type:
                      - string
                      - "null"
                  is_unknown:
                    type:
                      - boolean
                      - "null"
                  is_customer:
                    type:
                      - boolean
                      - "null"
                  is_human_chat:
                    type:
                      - boolean
                      - "null"
                  last_anonymized:
                    type:
                      - string
                      - "null"
                  came_from_action:
                    type:
                      - object
                      - "null"
                    properties:
                      goal_id:
                        type:
                          - number
                          - "null"
                      action_type:
                        type:
                          - string
                          - "null"
                      transfer_to_human:
                        type:
                          - boolean
                          - "null"
                      goal_command_type_id:
                        type:
                          - number
                          - "null"
                      intent_action_meta_id:
                        type:
                          - number
                          - "null"
                  displayed_action:
                    type:
                      - object
                      - "null"
                    properties:
                      goal_id:
                        type:
                          - number
                          - "null"
                      action_type:
                        type:
                          - string
                          - "null"
                      transfer_to_human:
                        type:
                          - boolean
                          - "null"
                      goal_command_type_id:
                        type:
                          - number
                          - "null"
                      intent_action_meta_id:
                        type:
                          - number
                          - "null"
                  is_support_human:
                    type:
                      - boolean
                      - "null"
                  is_voice_channel:
                    type:
                      - boolean
                      - "null"
                  original_question:
                    type:
                      - string
                      - "null"
                  predicted_intent_id:
                    type:
                      - number
                      - "null"
            reviewed:
              type:
                - boolean
                - "null"
      cursor_path:
        type: string
      environment:
        type:
          - string
          - "null"
      id_subclaim:
        type:
          - string
          - "null"
    additionalProperties: true
